:root {
    --base-color: #37517E;
}


.front {
    background-color: var(--base-color);
}


.anim {
    animation-name: jumping;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}

@keyframes jumping {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}


.brand {
    filter: grayscale(100%);
    transition: all 0.4s;
}


.brand:hover {
    filter: grayscale(0);
    scale: 1.1;
}



.gray {
    width: 100px;
    height: 2px;
    background: lightgray;
    position: relative;
}

.blue {
    width: 40%;
    height: 2.5px;
    background: var(--bs-info);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.title {
    color: var(--base-color);
}


.abt {
    color: var(--base-color);
}

.title-2 {
    color: var(--base-color);
}

.cardss{
    transition: all 0.3s;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 6px;
    
}

.cardss:hover{  

transform: translateY(-10px);

}

.cardss:hover h5{
    
    cursor: pointer;
}


.action{

    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url('https://bootstrapmade.com/demo/templates/Arsha/assets/img/cta-bg.jpg') fixed center center;
    background-size: cover;
    padding: 4rem;


}

.title {
    color: var(--base-color);
}


.abt {
    color: var(--base-color);
}



.btn-hov {
    transition: all 0.5s;
}

.btn-hov:hover {
    background: var(--bs-info);
    color: white !important;
}


.overlay {
    opacity: 0;
    transition: all 0.3s;
    background-color: rgba(55, 81, 126, 0.7) !important;
}


.img1 {
    overflow: hidden;
}

.img1:hover .overlay {
    opacity: 1;
}

.img {
    transition: all 0.3s;
}

.img1:hover .img {
    scale: 1.2;
}


.icon {
    padding: 0.6rem;
    background-color: #EFF2F8;
    color: #37517E;
    clip-path: circle();
}


.map {
    border: 2px solid var(--bs-info);
    border-right: 0;
    border-left: 0;
}

.c-p{
    font-size: 0.8rem;
    color: var(--base-color);
}

.payment-card h2{
    color: var(--base-color);
}
.payment-card h4{
    color: var(--base-color);
}


.payment-card2 h2{
    color: var(--base-color);
}
.payment-card2 h4{
    color: var(--base-color);
}

.payment-card2 li{
    color: #999999;
}

.payment-card3 h2{
    color: var(--base-color);
}
.payment-card3 h4{
    color: var(--base-color);
}

.payment-card3 li{
    color: #999999;
}


.payment-card i{
    color: #6EB393;
}
.payment-card li{
    color: #999999;
}



.payment-card button{
border: 2px solid #47B2E4 !important;
background-color: white;
color: #47B2E4 !important;
align-self: flex-start;



}

.card button:hover{
background-color: #47B2E4;
color: white !important;
}



.payment-card2{
    border-top: 3px solid #47B2E4 !important;
}
.payment-card2 button{
    border: 2px solid #47B2E4 !important;
    background-color: white;
    color: #47B2E4 !important;
    align-self: flex-start;
    
    
    
    
    }
    .payment-card3 button{
        border: 2px solid #47B2E4 !important;
        background-color: white;
        color: #47B2E4 !important;
        align-self: flex-start;
        
        
        
        }

        .-cont h2{
          font-size: 1.2rem;
          font-weight: bolder;
          color: var(--base-color);
        }

        .-cont p{
           color: #5E5E5E;
           font-size: 0.9rem;
        }

 .footer li{

font-size: 0.9rem;

 }


 .footer h3{
    font-size: 1rem;
    color: var(--base-color);
 }

 .cont-links h6{
    font-size: 1rem;

    color: #5E5E5E;
 }

 .cont-links i{
    background-color: #47B2E4;
    color: white;
    padding: 0.4rem 0.6rem;
    border-radius: 50%;
 }



@media only screen and (max-width:768px){

.landing {
    height: 90vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}


}

@media only screen and (max-width:768px){
    .front {
        height: 100vh;
    }

    .landing {
        height: 90vh;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .anim {
        animation-play-state: paused;
    }

    .btns {
        margin-top: 2rem;
        justify-content: center;
    }


    
}